<html>
<head>
<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
<h1><u>Welcome to springMVCApp</u></h1>

<form method="post" action="login.html">
    <fieldset>
        <div class="form-row">
            <label for="Username">#springMessage("user.form.username"):</label>
            <span class="input"><input type="text" name="username" size="10" maxlength="20"></span>
        </div>
        <div class="form-buttons">
            <div class="button"><input type="submit" value="#springMessage("button.login")" /></div>
        </div>        
    </fieldset>
</form>
<br/>
<a href="addUser.html">Adduser</a><br/>
<a href="listUsers.html">ListUsers</a><br/>
<a href="usersReport.html?format=html">UsersReport:<b>html</b></a><br/>
<a href="usersReport.html?format=pdf">UsersReport:<b>pdf</b></a>
</table>
</body>
</html>
